* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-colour: #0B7515;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-colour: #ECA131;
  colour: #56C060;
  padding: 10px 0;
  text-align: centre;
}

header h1 {
  font-size: 2.5rem;
  }

section {
  margin-bottom: 20px;
  padding: 20px 0;
  background-colour: #AF1429;
}

section h2 {
  font-size: 2rem;
  text-align: centre;
  margin-bottom: 20px;
}

form {
  max-width: 600px;
  margin: 0 auto;
  text-align: centre;
}

form input[type="text"],
form input[type="email"],
form textarea,
form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

form button {
  display: inline-block;
  background-colour: #AF1429;
  colour: #C122BC;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-colour 0.3s ease;
}

form button:hover {
  background-colour: #EDE72A;
}

.resources ul {
  list-style-type: none;
  text-align: centre;
}

.resources ul li {
  display: inline-block;
  margin: 0 10px;
}

.resources ul li a {
  colour: ##4F88D2;
  text-decoration: none;
  font-size: 1.1rem;
}

footer {
  background-colour: #4F88D2;
  colour: #4F88D2;
  text-align: centre;
  padding: 10px 0;
}

footer p {
  font-size: 0.9rem;
}

footer nav ul {
  list-style-type: none;
}

footer nav ul li {
  display: inline-block;
  margin: 0 10px;
}

footer nav ul li a {
  colour: #5722C1;
  text-decoration: none;
  font-size: 0.9rem;
}
